#output {
  font-size: 80pt;
  text-align: center;
}

.btn {
  background-color: #B894FC;
}

.jumbotron {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  margin: 18px;
  border-radius: 26px;
}

img {
  padding: 15px;
  width: 75%;
  align-content: center;
  align-items: center;
}
